{% extends "base.html" %}
{% block content %}

            <!-- Delete Event Form -->
            <section id="edit">

                <div class="form">
                    <h2>Delete Event</h2>
                    <form class="edit-form" method="post" action="">
                        {% csrf_token %}
                        <p><strong>Slogan:</strong> {{ event.slogan }}</p>
                        <p><strong>Location:</strong> {{ event.location }}</p>
                        <p><strong>Date/Time:</strong> {{ event.start_time }}</p>
                        <button type="submit">Delete</button>
                    </form>
                </div>

            </section>
{% endblock %}